<<<<<<< HEAD
=======
/*Global Styles*/
>>>>>>> 21a784e (Repository created)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<<<<<<< HEAD
@font-face {
  font-family: "Ruhl";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: "Ruhl Medium";
  src: url("/fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: "Vibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --specialColor: #906272;
  --backgroud-color: #414141;
  --grayText: #525252;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1);
}

=======
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font: size 2.6rem;
}
>>>>>>> 21a784e (Repository created)
li,
button,
label,
input,
<<<<<<< HEAD
p,
a {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Ruhl", sans-serif;
  animation: opening 1s ease-in-out;
}

h1 {
  font-family: "Vibes", sans-serif;
}

.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

  position: relative;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
  z-index: 3;
}

.menu-check,
.burger {
  display: none;
  cursor: pointer;
}

#logo {
  flex: 1 1 20rem;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero-introduction {
  flex: 2 1 40rem;
  text-align: center;
}

.hero-introduction p {
  padding: 5rem 10rem;
  color: var(--grayText);
}
.hero-introduction h2 {
  padding-top: 3rem;
}
.hero-introduction a {
  padding: 2rem 8rem;
  border: 3px solid black;
  margin-bottom: 4rem;
}

.hero-images {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #d8d1d4);
  position: relative;
  z-index: 2;
}

.hero-elena {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  transform: translateY(3%);
  animation: plant-entrance 3s ease-in-out 0.5s forwards,
    plant-shake 7.5s infinite ease-in-out alternate-reverse 3.5s;
  transform-origin: bottom;
  max-width: 80%;
}

.plant-2 {
  left: 40%;
}

/*Animations*/
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(3%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0);
  }
}

/*About Section*/
#about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.about-text {
  flex: 2 1 40rem;
  justify-content: space-around;
  background: var(--backgroud-color);
  color: white;
}

.about-image {
  flex: 1 1 40rem;
  position: relative;
}

.about-image h5 {
  position: absolute;
  top: 20%;
  left: 50%;
  letter-spacing: 2rem;
  transform: translate(-50%, -20%);
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text div {
  padding: 3rem 8rem;
}

.about-text h3 {
  padding: 2rem 0;
  font-family: "Ruhl medium";
}

.about-text h2 {
  padding: 4rem;
  font-family: "Vibes";
}

/*Gallery Section*/
#gallery {
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery1 {
  grid-row: 1/2;
  grid-column: 1/3;
}

.gallery2 {
  grid-row: 1/4;
  grid-column: 3/4;
}

.gallery3 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.gallery4 {
  grid-row: 2/4;
  grid-column: 1/2;
}

.gallery-head {
  background: var(--backgroud-color);
  color: white;
  text-align: center;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gallery-head h2 {
  padding-bottom: 2rem;
}

/*Contact Section*/
#contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.form-wrapper {
  flex: 3 1 40rem;
}

.form-wrapper span {
  font-size: var(--big);
  color: var(--specialColor);
}

.form-wrapper label {
  display: block;
}

.form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  background: var(--backgroud-color);
  color: white;
  padding: 1rem;
  border: none;
}

.form-wrapper button {
  padding: 1rem 8rem;
  background: var(--specialColor);
  color: white;
  border: none;
  width: 100%;
}
.form-wrapper h2 {
  margin: 5rem 0rem;
}

#contact img {
  flex: 1 1 40rem;
}

/*Footer*/
footer {
  background-color: var(--backgroud-color);
  color: white;
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-wrap: wrap;
}

footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
footer h4 {
  font-size: calc(1.4rem + 1vw);
  flex: 3 1 40rem;
}

/*Media queries*/

@media screen and (max-width: 837px) {
  .burger {
    position: relative;
    z-index: 3;
    display: block;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--grayText);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }
  .nav-links {
    background: var(--backgroud-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .nav-open {
    transform: translate(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  .hero {
    width: 100%;
  }

  .hero-introduction p {
    padding: 5rem 3rem;
  }

  /*About section*/
  .about-text div {
    padding: 3rem 3rem;
  }

  /*Gallery*/
  #gallery img {
    grid-row: auto;
    grid-column: auto;
  }

  #gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: 1fr 1fr;
  }

  .gallery-head {
    display: none;
  }

  /*footer*/

  #contact img {
    display: none;
  }

  footer ul {
    order: 1;
  }

  footer h4 {
    order: 2;
    text-align: center;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 4.5rem;
    --header3: 3.5rem;
    --header4: 3rem;
    --big: 8rem;
    --text: 3rem;
=======
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font: size 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #658cbb;
}

/*Nav Section with Hero*/
.main-head {
  background: #131c27;
  color: white;
}

.main-head nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.main-head nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  list-style-type: none;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("./img/landing-page.jpg");
  min-height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}
/*Benefits Section*/
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/new-york-page.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  z-index: 3;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  padding: 4rem 0rem;
  z-index: 3;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none;
}

.moving-cloud-1 {
  z-index: 1;
  animation: cloudAnimation 20s infinite ease-in-out alternate;
}
.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/*Benefits section*/

.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  align-items: center;
}
.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
.card h3,
.card p {
  padding: 3rem;
}

.card-icon {
  background: #303b46;
}
.card {
  flex: 1 1 25rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  min-height: 40vh;
  margin: 2rem 5rem;
  text-align: center;
}
/*Media Queries*/
@media screen and (max-width: 933px) {
  html {
    font-size: 40%;
  }

  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }

  .cloud {
    height: 40rem;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head {
    background: rgba(19, 28, 39, 0.5);
    text-align: center;
  }
  .locations-head h2 {
    color: white;
    padding: 3rem;

    text-decoration: none;
  }
  .locations-head h3 {
    -webkit-text-fill-color: white;
>>>>>>> 21a784e (Repository created)
  }
}
